# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\e.testagrossa\PhpstormProjects\CORSO_RESTFUL\Sezione 3-4\Multi Auth Laravel 8\multiau\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
